<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable Calendar</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script defer src="static/app.js"></script>
</head>
<body>
    <div>
        <label for="user">Student ID:</label>
        <input type="text" id="user">
    </div>
    <div>
        <label for="pass">Password:</label>
        <input type="password" id="pass">
    </div>
    <button onclick="getTimetable()">Get Timetable</button>
    <button id="downloadButton" style="display:none;">Download Calendar</button>
    <div id="calendar"></div>
</body>
</html>
